.navbar-bg {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navbar-bg2 {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all .2s ease-in-out;
  animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0px);
  }
}

.nav-link {
  color: black !important;
  font-weight: 15px;
}

.nav-link:hover {
  color: #C40083 !important;
}

.nav-link-new {
  color: #C40083 !important;
  font-weight: 15px;
}

#navsa img {
  margin-left: 45px;
}

.navss {
  margin-left: 56%;
  font-size: 17px;
}

.spacing {
  margin-top: 7%;
}

.bottm ul {
  list-style: none;
}

.bottm img {
  margin-top: 20%;
  margin-left: 30%;
}

.bottm {
  color: hotpink;
}

.bottm h5 {
  color: rgb(186, 19, 102);
  margin-left: 10%;
}

.bottm li a {
  text-decoration: none;
  color: hotpink;
}

.homepage {
  margin-top: 80px;
}

.homepage h1 {
  color: #C40083;
}

/* .traderow {
  margin-left: 10%;
} */

.cnts .jn {
  padding-right: 7%;
  padding-left: 7%;
  color: white;
  background-color: #C40083;
}

.cnts .kn {
  padding-right: 6%;
  padding-left: 6%;
  margin-left: 2%;
}

.cnts button {
  padding-left: 2%;
}

.cnts button:hover {
  background-color: #C40083;
  color: aliceblue;
}

#tiedup {
  color: black;
}

.feelingrow {
  background: linear-gradient(94deg, rgba(126, 38, 97, 1) 0%, rgba(196, 0, 131, 1) 54%, rgba(126, 38, 97, 1) 100%);
}

.lappp {
  background-image: url("../PlatformPage/ptimg1.png");
  background-size: cover;
}

.unsurehead h1 {
  font-size: 55px;
  margin-top: 3.5%;
  color: aliceblue !important;
}

.unsurehead button {
  font-size: 22px;
  margin-left: -28%;
  border-radius: 0;
  background-color: aliceblue;
  color: #C40083;
}

/* .imgg img {
  margin-top: 9%;
} */

.imgnd {
  height: 220px;
  width: 300px;
  margin-top: 20px;
}

.secndrow {
  color: aliceblue;
  background: linear-gradient(94deg, rgba(126, 38, 97, 1) 0%, rgba(196, 0, 131, 1) 54%, rgba(126, 38, 97, 1) 100%);
  padding: 20px 0px 55px 0px;
}

.firimg {
  margin-left: 15%;
}

.firimg .p1 {
  margin-left: 10%;
}

.arrimg img {
  margin-top: 4%;
  margin-left: -10%;
}

.secimg img {
  margin-left: -50%;
}

.secimg .p11 {
  margin-left: -70%;
}

.secimg .p22 {
  margin-left: -90%;
}

.arrimg2 {
  margin-top: 6%;
  margin-left: -5%;
}

.thiimg {
  margin-left: -2%;
}

.thiimg .p13 {
  margin-left: 24%;
}

.thiimg .p23 {
  margin-left: -2%;
}

.hr {
  margin-left: 9%;
  margin-top: 1.5%;
  background-color: #C40083;
  height: 2px;
  width: 40%;
}

.hrr {
  margin-top: 1.5%;
  background-color: #C40083;
  height: 2px;
  width: 40%;
}

.hrrow {
  display: flex;
  flex-direction: row;
}

.hrrow img {
  margin-top: 1%;
}

.table thead {
  border: 1px solid #C40083;
  color: #C40083;
}

.table tbody {
  border: 1px solid rgba(126, 38, 97, 1);
  color: aliceblue;
  background: linear-gradient(94deg, rgba(126, 38, 97, 1) 0%, rgba(196, 0, 131, 1) 54%, rgba(126, 38, 97, 1) 100%);
}

.whyusrow img {
  margin-left: 1%;
  height: 21px;
  width: 19px;
}

.ln {
  margin-top: 0.8%;
  background-color: #C40083;
  height: 2px;
  width: 27%;
}

.ln2 {
  margin-top: 0.8%;
  margin-left: 5.0%;
  background-color: #C40083;
  height: 2px;
  width: 27%;
}

.whyusrow .doltw {
  margin-left: -0.5%;
}

.whyusrow h1 {
  margin-top: -1%;
  margin-left: 8%;
}

.whyusrow {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
}

/* .threeimgrow img {
  margin-left: 27%;
} */

.threeimgrow p {
  padding-top: 4%;
  color: #C40083;
}

/* #firttt {
  margin-left: 2% !important;
} */

.globerow {
  /* background-color: rgba(126, 38, 97, 1);
  height: 600px;
  background-image: url(/Assets/Homepage/bgglobe.png);
  background-size: contain;
  background-position: center; */
  background-image: url("../Homepage/Group-347.png");
  background-size: 100%;
  height: 500px;
}

.hum {
  position: relative;
  left: -12%;
  top: -77%;
}

.review-head {
  font-weight: 600;
  color: #fff;
  padding: 32px 0px 32px 0px;
}

.cardrow h3 {
  padding-top: 6%;
  margin-left: 44%;
  color: aliceblue;
}

.carss {
  position: relative;
  width: 70%;
  height: 40%;
  margin-left: 20%;
  border: 5px solid #C40083;
  color: white;
}

.carss h5 {
  margin-left: 10%;
}

.star {
  color: #ffd700;
}

/* .carss p {
  padding-top: 1%;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 5%;
} */

.indi button {
  height: 20px;
  width: 20px;
}

.carso {
  position: relative;
}

.ccmm {
  padding-top: 2%;
  padding-bottom: 2%;
}

.bin {
  margin-left: 12%;
}

.autr {
  margin-left: 7%;
}

.bmc {
  margin-left: 7%;
}

.coinn {
  margin-left: 7%;
}

.who,
.sier {
  margin-left: 7%;
}

/* comunity page */
.communitypage h1 {
  color: #C40083;
}

.joinrow {
  margin-left: 3%;
}

.joinrow p {
  margin-top: 1%;
  width: 90%;
}

.wehaverow {
  margin-left: 3%;
}

/* .wehaverow .cell {
  margin-left: 30%;
} */

.wehaverow p {
  margin-top: 1%;
  width: 90%;
}

.wehaverow .cntss {
  padding-top: 6%;
}

.leftside {
  background-image: url('/Assets/PlatformPage/ptimg1.png') !important;
  height: 300px;
}

/* platformpage */
.platformpage h1 {
  color: #C40083;
}

.brokerrow {
  margin-left: 3%;
}

.brokerrow img {
 
  padding-top: 2%;
}

.lowrowone {
  margin-top: 2%;
}

.lowrowone h1 {
  text-align: center;
}

.imgtbt {
  margin-top: 2%;
}

.hsd {
  font-family: sans-serif;
  font-size: 25px;
}

.hsd p {
  width: 60%;
  border: 1px solid snow;
}

.onetradingrow {
  padding-top: 5%;
}

.unlockrow {
  padding-top: 6%;
  margin-left: 2%;
  padding-bottom: 5%;
}

.unlockrow h1 {
  margin-left: 10%;
}

.unlockrow p {
  margin-left: -15%;
}

/* .unlockrow img {
  margin-left: 15%;
} */

.marketrow {
  padding-top: 5%;
  padding-bottom: 5%;
}

/* .card {
  margin-left:8%;
  width: 17rem;
} */

/*.bts img {
  width: 15rem;
  margin-left: 3.5%;
  margin-top: 2%;
}

.bts .card-body {
  width: 17rem;
} */
/* .bts .card-body{
  width:19rem;
} */

.bts {
  /* margin-left: 15%; */
  width: 23rem;
}

.bts img {
  width: 23rem;
}

.bts .card-body {
  background-color: rgb(178, 178, 178);
}

/* .bts p {
  margin-left: -6%;
  width: 20rem;
  background-color: rgb(178, 178, 178);
} */

.bts .card-body {
  margin-top: -5%;
}

.bts .card-body:hover {
  background-color: #C40083;
  color: aliceblue;
}

.crs:hover {
  color: #C40083;
}

.carousel-item {
  width: 17rem;
}

/* trading page */
.tradingpage h1 {
  color: #C40083;
}

.brkrow {
  padding-top: 2%;
  margin-left: 4%;
}

.brkrow p {
  padding-top: 2%;
}

.openacc {
  background-color: #C40083 !important;
  color: aliceblue !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.calculaterow {
  color: aliceblue !important;
  margin-top: 10% !important;
  background: linear-gradient(94deg, rgba(126, 38, 97, 1) 0%, rgba(196, 0, 131, 1) 54%, rgba(126, 38, 97, 1) 100%);
  padding-bottom: 3%;
}

.calculaterow h3 {
  margin-top: 1%;
}

.diiv {
  margin-top: 4% !important;
  margin-left: 8%;
  background-color: #ae4d8e;
}

.diivtwo {
  margin-top: 4% !important;
  margin-left: 8%;
  background-color: #ae4d8e;
}

.diivthree {
  margin-top: 4% !important;
  margin-left: 8%;
  background-color: #ae4d8e;
}

.diivfour {
  margin-top: 6% !important;
  margin-left: 8%;
}

.boug {
  font-size: small !important;
}

.google {
  margin-top: -5%;
  background-color: aliceblue;
}

.google p {
  color: black;
  /* margin-left: 14%; */
  margin-top: -14%;
  padding: 2%;
}

.google p i {
  margin-left: 25%;
}

.google2 {
  margin-top: -5%;
  background-color: aliceblue;
}

.google2 p {
  color: black;
  margin-left: 14%;
  margin-top: -7%;
  padding: 2%;
}

.google2 p i {
  margin-left: 25%;
}

.opacc {
  margin-top: 2%;
  border: 1px solid snow !important;
  background-color: #C40083 !important;
  color: aliceblue !important;
  padding-left: 11.5% !important;
  padding-right: 11.5% !important;
}

.glg-span {
  border: 0px #fff !important;
  background-color: #fff;
}

.glg-img {
  height: 30px;
}

.dwnarr {
  border: 0px #fff !important;
  background-color: #fff !important;
}

.int {
  width: 185px !important;
}

.www,
.www2,
.www3 {
  padding: 0px 20px 10px 10px;
  width: 206px !important;
  ;
  background-color: #ae4d8e;
}

.www p {
  margin: 0px !important;
}

.www2 p {
  margin: 0px !important;
}

.www3 p {
  margin: 0px !important;
}

.sect {
  margin-top: 20px !important;
}

/* Aboutpage */
.aboutpage h1 {
  color: #ae4d8e;
}

.abtrow {
  margin-top: 5%;
}


.bgclrow {
  height: 250px;
  margin-top: 5%;
  background-image: url("../Aboutpage/abtimg1.png");
  background-size: contain !important;
  background-position: center !important;
  background: linear-gradient(94deg, rgba(126, 38, 97, 1) 0%, rgba(196, 0, 131, 1) 54%, rgba(126, 38, 97, 1) 100%);
}

.threwrds {
  padding-top: 4% !important;
  margin-left: 15% !important;
}

.bgclrow h1 {
  color: aliceblue;
}

.bgclrow p {
  color: aliceblue;
}



/* .visrow img {
  margin-left: 8%;
} */

.visrow h1 {
  margin-left: 5%;
}

.visrow p {
  margin-left: -6%;
}

.brk h5 {
  color: #44c4ff;
}

.adm h5 {
  color:#842dec;
}

.lin h5 {
  color:#ff445b;
}
/* .brk{
  position: absolute; 
  bottom: -302%;
  left:8.5%;
} */

.brkh {
  margin-top: -13%;
  margin-left: 1%;
}

/* .adm{
  position: absolute; 
  bottom: -303%; 
  left:43.8%;
}
.lin{
  position: absolute;
  left:79.5%;
  bottom: -303%;
} */

.admh {
  margin-top: -7%;
  margin-left: 43%;
} 

.admp {
  margin-left: 40%;
}


.linh {
  margin-top: -7.5%;
  margin-left: 86%;
}

.linp {
  margin-left: 83%;
}

.wallt h5 {
  color: #5044ff;
}

.onlwal h5 {
  color: #ff44a0;
}
/* 
.wallt{
  position: absolute;
  left: 26%;
  top: 412%;
}
.onlwal{
  position: absolute;
  left: 61%;
  bottom: -328%;
} */

.wallth {
  margin-top: 2.5%;
  margin-left: 22%;
}

.walltp {
  margin-left: 20%;
}

.onlwalh {
  margin-top: -7.5%;
  margin-left: 62%;
}

.onlwalp {
  margin-left: 60%;
}

.maprow {
  background: linear-gradient(94deg, rgba(126, 38, 97, 1) 0%, rgba(196, 0, 131, 1) 54%, rgba(126, 38, 97, 1) 100%);
}

.maprow img {
  margin-top: 5%;
}

.maprow h1,
.maprow p {
  color: aliceblue;
  margin-top: 5%
}

.ddx {
  padding-top: 8%;
}

.pentaimgrow {
  margin-top: 5%;
  display: inline;
}

.firstpent {
  position: relative;
  top: 5%;
  left: 14%;
}

.firstpenthum {
  position: absolute;
  left: 41%;
  top: -7%
}

.firstcur {
  position: absolute;
  left: 41%;
  top: -17%
}

.firstpentpara {
  color: aliceblue;
  font-size: small;
  position: absolute;
  top: 46%;
  left: 18%;
}

.secondpent {
  position: relative;
  top: 5%;
}

.seccur {
  position: absolute;
  left: 41%;
  top: -17%
}

.secondpenthum {
  position: absolute;
  left: 41%;
  top: -7%
}

.secondpentpara {
  color: aliceblue;
  font-size: small;
  position: absolute;
  top: 46%;
  left: 18%;
}

.thirdcur {
  position: absolute;
  left: 41%;
  top: -17%
}

.thirdpent {
  position: relative;
  left: -15%;
}

.thirdpenthum {
  position: absolute;
  left: 41%;
  top: -7%
}

.thirdpentpara {
  color: aliceblue;
  font-size: small;
  position: absolute;
  top: 46%;
  left: 22%;
}

.threecardrow {
  padding-top: 2%;
}

.threecardrow h5,
.threecardrow p {
  color: aliceblue;
}

.firstpurbx {
  background-image: url("../Tradingpage/tag.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 500px;
}

.firstpurbx {
  position: relative;
}

.firstpurbx .oneimg {
  position: absolute;
  top: -11%;
  left: 42%;
}

.firstpurbx .firpurbxh {
  position: absolute;
  top: 15%;
  left: 45%;
}

.firstpurbx .firpurbxp {
  position: absolute;
  top: 27%;
  left: 37%;
}

.accbt {
  margin-top: 4%;
  background-color: purple !important;
  color: aliceblue !important;
}

.secpurbx {
  width: 190px;
  background: linear-gradient(94deg, rgba(126, 38, 97, 1) 0%, rgba(196, 0, 131, 1) 54%, rgba(126, 38, 97, 1) 100%);
  height: 500px;
}

.secpurbx {
  position: relative;
}

.secpurbx .twoimg {
  position: absolute;
  top: -11%;
  left: 29%;
}

.secpurbx .secpurbxh {
  position: absolute;
  top: 16%;
  left: 30%;
}

.secpurbx .secpurbxp {
  position: absolute;
  top: 27%;
  left: 17%;
}

.thirdpurbx {
  background: linear-gradient(94deg, rgba(126, 38, 97, 1) 0%, rgba(196, 0, 131, 1) 54%, rgba(126, 38, 97, 1) 100%);
  height: 500px;
  width: 190px;
  position: relative;
}

.thirdpurbx .thrimg {
  position: absolute;
  top: -11%;
  left: 29%;
}

.thirdpurbx .thipurbxh {
  position: absolute;
  top: 18%;
  left: 43%;
}

.thirdpurbx .thipurbxp {
  position: absolute;
  top: 27%;
  left: 20%;
}

.fourbxx {
  margin-top: 5%;
}

.bx1 {
  padding: 28%;
  background: linear-gradient(94deg, rgba(126, 38, 97, 1) 0%, rgba(196, 0, 131, 1) 54%, rgba(126, 38, 97, 1) 100%);
}

.dotimg {
  padding-top: 5%;
}

.tickrow {
  margin-top: 5%;
}

.market {
  height: 300px;
  background-image: url("../Tradingpage/tradingimg4.png") !important;
  background-repeat: no-repeat !important;

}


@media screen and (max-width:540px) {
  .hum {
    width: 0%;
    height: 0%;
  }

  .visrow p {
    margin-left: 1%;
  }

  .brkh {
    font-size: smaller;
    margin-top: -15.5%;
  }

  .brkp,
  .admp,
  .linp,
  .walltp,
  .onlwalp {
    font-size: 6px;
  }

  .admh {
    font-size: smaller;
    margin-top: -17.5% !important;
  }

  .linh {
    font-size: smaller;
    margin-top: -18% !important;
  }

  .wallth {
    font-size: smaller;
    margin-top: -10.5% !important;
  }

  .onlwalh {
    font-size: smaller;
    margin-top: -17% !important;
  }

  .ourmissio {
    display: flex;
    flex-direction: column-reverse;
  }
  .maprow img{
    height:160px;
    width:260px;
  }

  .firstpent {
    margin-left: -15%;
  }

  .secondpent {
    margin-top: 50%;
  }

  .firstpentpara,
  .secondpentpara {
    margin-left: -5%;
  }
  .cntss{
    margin-left:1%;
  }

  .secondpent {
    margin-top: 20% !important;
  }

  .thirdcur,
  .seccur,
  .firstcur {
    margin-left: -3% !important;
  }

  .thirdpenthum,
  .secondpenthum,
  .firstpenthum {
    margin-left: -4% !important;
  }

  .thirdpent {
    margin-top: 20% !important;
    margin-left: 15%;
  }

  .wehave {
    display: flex;
    flex-direction: column-reverse;
  }

  .unlockk {
    display: flex;
    flex-direction: column-reverse;
  }

  .unlockk img {
    margin-left: 2%;
  }

  .brkrow img {
    margin-top: 2%;
  }

  .diiv,
  .diivtwo,
  .diivthree {
    width: 50% !important;
  }

  .oneimg {
    margin-left: -3%;
  }

  .firpurbxh {
    margin-left: -2%;
  }

  .firpurbxp {
    margin-left: -4%;
  }

  .secpurbx,
  .thirdpurbx {
    margin-top: 18%;
  }

  /* .bts {
    margin-left: 8%;
  } */
  .bts{
    width:15rem;
  }
  .bts img{
    width:15rem;
  }
  

  .www2 {
    margin-top: 5%;
  }
}

.bull-one {
  height: 55px;
  width: 85px;
}

.bull-two {
  height: 55px;
  width: 85px;
}

.bull-three {
  height: 55px;
  width: 85px;
}

.dot-img {
  margin-top: 68px;
  height: 30px;
}

.dot-img2 {
  margin-top: 63px;
  height: 30px;
}


.bull-arrow {
  height: 20px;
  width: 200px;
}

.section-bull {
  margin-top: 30px;
}

.bull-head {
  color: #fff;
  font-weight: 600;
}

.bull-sub-head {
  color: #fff;
}

/* .vector-text {
  text-align: left;
} */

.footer-head {
  color: #ba1366;
  line-height: 50px;
  font-weight: 600;
}

.footer-logo {
  height: 75px;
  width: 100px;
}

.footer-list {
  list-style: none;
  padding-left: 0px !important;
  line-height: 33px;
}

.footer-list li a {
  text-decoration: none;
  color: #ba1366;
}

.footer-list li a {
  color: #C40083;
}

@media (max-width: 540px) {
  .bull-arrow {
    height: 0px;
    width: 0px;
  }

  .whyusrow h1 {
    margin-top: 0%;
    margin-left: 0%;
    text-align: center;
  }

  .clkh {
    margin-left: 1% !important;
  }

  .ccmm {
    padding-top: 2% !important;
    padding-bottom: 2% !important;
  }

  .analy p {
    margin-left: 2% !important;
  }

  .dot-img {
    width: 0px;
    height: 0px;
  }

  .dot-img2 {
    width: 0px;
    height: 0px;
  }

  .trade-img {
    height: 205px !important;
  }

  .grp-img {
    margin-top: 4%;
  }

  .navss {
    margin-left: 0%;
  }

  #navsa img {
    margin-left: 0%;
  }
}

.trade-img {
  height: 315px;
}

.douphn {
  height: 310px;
}

.grp-img {
  height: 190px;
}

.comp-align {
  margin-bottom: 40px;
}